<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.TbEmpMapper">
  <resultMap id="BaseResultMap" type="com.oracle.po.TbEmp">
    <id column="EMPID" jdbcType="DECIMAL" property="empid" />
    <result column="ROLEID" jdbcType="DECIMAL" property="roleid" />
    <result column="DUTYID" jdbcType="DECIMAL" property="dutyid" />
    <result column="EMPNO" jdbcType="VARCHAR" property="empno" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTH" jdbcType="TIMESTAMP" property="birth" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="EMPTYPE" jdbcType="VARCHAR" property="emptype" />
    <result column="BANKNAME" jdbcType="VARCHAR" property="bankname" />
    <result column="BANKNO" jdbcType="VARCHAR" property="bankno" />
    <result column="SAL" jdbcType="DECIMAL" property="sal" />
    <result column="COMM" jdbcType="DECIMAL" property="comm" />
    <result column="SUBSIDY" jdbcType="DECIMAL" property="subsidy" />
    <result column="HIREDATE" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="DUTYNAME" jdbcType="VARCHAR" property="dutyname" />
    <result column="DESCRIPT" jdbcType="VARCHAR" property="descript" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EMPID, ROLEID, DUTYID, EMPNO, PASSWORD, EMPNAME, SEX, BIRTH, IDCARD, EMAIL, TEL, 
    ADDRESS, EMPTYPE, BANKNAME, BANKNO, SAL, COMM, SUBSIDY, HIREDATE, DUTYNAME, DESCRIPT
  </sql>
  <select id="selectByExample" parameterType="com.oracle.po.TbEmpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_EMP
    where EMPID = #{empid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_EMP
    where EMPID = #{empid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.po.TbEmpExample">
    delete from TB_EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.po.TbEmp">
    insert into TB_EMP (EMPID, ROLEID, DUTYID, 
      EMPNO, PASSWORD, EMPNAME, 
      SEX, BIRTH, IDCARD, 
      EMAIL, TEL, ADDRESS, 
      EMPTYPE, BANKNAME, BANKNO, 
      SAL, COMM, SUBSIDY, 
      HIREDATE, DUTYNAME, DESCRIPT
      )
    values (#{empid,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}, #{dutyid,jdbcType=DECIMAL}, 
      #{empno,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{idcard,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{emptype,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{bankno,jdbcType=VARCHAR}, 
      #{sal,jdbcType=DECIMAL}, #{comm,jdbcType=DECIMAL}, #{subsidy,jdbcType=DECIMAL}, 
      #{hiredate,jdbcType=TIMESTAMP}, #{dutyname,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.po.TbEmp">
    insert into TB_EMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empid != null">
        EMPID,
      </if>
      <if test="roleid != null">
        ROLEID,
      </if>
      <if test="dutyid != null">
        DUTYID,
      </if>
      <if test="empno != null">
        EMPNO,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="empname != null">
        EMPNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birth != null">
        BIRTH,
      </if>
      <if test="idcard != null">
        IDCARD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="emptype != null">
        EMPTYPE,
      </if>
      <if test="bankname != null">
        BANKNAME,
      </if>
      <if test="bankno != null">
        BANKNO,
      </if>
      <if test="sal != null">
        SAL,
      </if>
      <if test="comm != null">
        COMM,
      </if>
      <if test="subsidy != null">
        SUBSIDY,
      </if>
      <if test="hiredate != null">
        HIREDATE,
      </if>
      <if test="dutyname != null">
        DUTYNAME,
      </if>
      <if test="descript != null">
        DESCRIPT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empid != null">
        #{empid,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="dutyid != null">
        #{dutyid,jdbcType=DECIMAL},
      </if>
      <if test="empno != null">
        #{empno,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="empname != null">
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="emptype != null">
        #{emptype,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankno != null">
        #{bankno,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DECIMAL},
      </if>
      <if test="comm != null">
        #{comm,jdbcType=DECIMAL},
      </if>
      <if test="subsidy != null">
        #{subsidy,jdbcType=DECIMAL},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="dutyname != null">
        #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.po.TbEmpExample" resultType="java.lang.Long">
    select count(*) from TB_EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_EMP
    <set>
      <if test="record.empid != null">
        EMPID = #{record.empid,jdbcType=DECIMAL},
      </if>
      <if test="record.roleid != null">
        ROLEID = #{record.roleid,jdbcType=DECIMAL},
      </if>
      <if test="record.dutyid != null">
        DUTYID = #{record.dutyid,jdbcType=DECIMAL},
      </if>
      <if test="record.empno != null">
        EMPNO = #{record.empno,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.empname != null">
        EMPNAME = #{record.empname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birth != null">
        BIRTH = #{record.birth,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idcard != null">
        IDCARD = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.emptype != null">
        EMPTYPE = #{record.emptype,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        BANKNAME = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.bankno != null">
        BANKNO = #{record.bankno,jdbcType=VARCHAR},
      </if>
      <if test="record.sal != null">
        SAL = #{record.sal,jdbcType=DECIMAL},
      </if>
      <if test="record.comm != null">
        COMM = #{record.comm,jdbcType=DECIMAL},
      </if>
      <if test="record.subsidy != null">
        SUBSIDY = #{record.subsidy,jdbcType=DECIMAL},
      </if>
      <if test="record.hiredate != null">
        HIREDATE = #{record.hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dutyname != null">
        DUTYNAME = #{record.dutyname,jdbcType=VARCHAR},
      </if>
      <if test="record.descript != null">
        DESCRIPT = #{record.descript,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_EMP
    set EMPID = #{record.empid,jdbcType=DECIMAL},
      ROLEID = #{record.roleid,jdbcType=DECIMAL},
      DUTYID = #{record.dutyid,jdbcType=DECIMAL},
      EMPNO = #{record.empno,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      EMPNAME = #{record.empname,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      BIRTH = #{record.birth,jdbcType=TIMESTAMP},
      IDCARD = #{record.idcard,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      EMPTYPE = #{record.emptype,jdbcType=VARCHAR},
      BANKNAME = #{record.bankname,jdbcType=VARCHAR},
      BANKNO = #{record.bankno,jdbcType=VARCHAR},
      SAL = #{record.sal,jdbcType=DECIMAL},
      COMM = #{record.comm,jdbcType=DECIMAL},
      SUBSIDY = #{record.subsidy,jdbcType=DECIMAL},
      HIREDATE = #{record.hiredate,jdbcType=TIMESTAMP},
      DUTYNAME = #{record.dutyname,jdbcType=VARCHAR},
      DESCRIPT = #{record.descript,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.po.TbEmp">
    update TB_EMP
    <set>
      <if test="roleid != null">
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="dutyid != null">
        DUTYID = #{dutyid,jdbcType=DECIMAL},
      </if>
      <if test="empno != null">
        EMPNO = #{empno,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="empname != null">
        EMPNAME = #{empname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        BIRTH = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="idcard != null">
        IDCARD = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="emptype != null">
        EMPTYPE = #{emptype,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        BANKNAME = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankno != null">
        BANKNO = #{bankno,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=DECIMAL},
      </if>
      <if test="comm != null">
        COMM = #{comm,jdbcType=DECIMAL},
      </if>
      <if test="subsidy != null">
        SUBSIDY = #{subsidy,jdbcType=DECIMAL},
      </if>
      <if test="hiredate != null">
        HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="dutyname != null">
        DUTYNAME = #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        DESCRIPT = #{descript,jdbcType=VARCHAR},
      </if>
    </set>
    where EMPID = #{empid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.po.TbEmp">
    update TB_EMP
    set ROLEID = #{roleid,jdbcType=DECIMAL},
      DUTYID = #{dutyid,jdbcType=DECIMAL},
      EMPNO = #{empno,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMPNAME = #{empname,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTH = #{birth,jdbcType=TIMESTAMP},
      IDCARD = #{idcard,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      EMPTYPE = #{emptype,jdbcType=VARCHAR},
      BANKNAME = #{bankname,jdbcType=VARCHAR},
      BANKNO = #{bankno,jdbcType=VARCHAR},
      SAL = #{sal,jdbcType=DECIMAL},
      COMM = #{comm,jdbcType=DECIMAL},
      SUBSIDY = #{subsidy,jdbcType=DECIMAL},
      HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      DUTYNAME = #{dutyname,jdbcType=VARCHAR},
      DESCRIPT = #{descript,jdbcType=VARCHAR}
    where EMPID = #{empid,jdbcType=DECIMAL}
  </update>
</mapper>