<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.TbModuleMapper">
  <resultMap id="BaseResultMap" type="com.oracle.po.TbModule">
    <id column="MODULEID" jdbcType="DECIMAL" property="moduleid" />
    <result column="PROJECTID" jdbcType="DECIMAL" property="projectid" />
    <result column="MODULENAME" jdbcType="VARCHAR" property="modulename" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier" />
    <result column="MODULEDESC" jdbcType="VARCHAR" property="moduledesc" />
    <result column="REQUIREDES" jdbcType="VARCHAR" property="requiredes" />
    <result column="REQUIREMENTID" jdbcType="DECIMAL" property="requirementid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MODULEID, PROJECTID, MODULENAME, PRIORITY, CREATEDATE, IDENTIFIER, MODULEDESC, REQUIREDES, 
    REQUIREMENTID
  </sql>
  <select id="selectByExample" parameterType="com.oracle.po.TbModuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_MODULE
    where MODULEID = #{moduleid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_MODULE
    where MODULEID = #{moduleid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.po.TbModuleExample">
    delete from TB_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.po.TbModule">
    insert into TB_MODULE (MODULEID, PROJECTID, MODULENAME, 
      PRIORITY, CREATEDATE, IDENTIFIER, 
      MODULEDESC, REQUIREDES, REQUIREMENTID
      )
    values (#{moduleid,jdbcType=DECIMAL}, #{projectid,jdbcType=DECIMAL}, #{modulename,jdbcType=VARCHAR}, 
      #{priority,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP}, #{identifier,jdbcType=VARCHAR}, 
      #{moduledesc,jdbcType=VARCHAR}, #{requiredes,jdbcType=VARCHAR}, #{requirementid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.po.TbModule">
    insert into TB_MODULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moduleid != null">
        MODULEID,
      </if>
      <if test="projectid != null">
        PROJECTID,
      </if>
      <if test="modulename != null">
        MODULENAME,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="identifier != null">
        IDENTIFIER,
      </if>
      <if test="moduledesc != null">
        MODULEDESC,
      </if>
      <if test="requiredes != null">
        REQUIREDES,
      </if>
      <if test="requirementid != null">
        REQUIREMENTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moduleid != null">
        #{moduleid,jdbcType=DECIMAL},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=DECIMAL},
      </if>
      <if test="modulename != null">
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="moduledesc != null">
        #{moduledesc,jdbcType=VARCHAR},
      </if>
      <if test="requiredes != null">
        #{requiredes,jdbcType=VARCHAR},
      </if>
      <if test="requirementid != null">
        #{requirementid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.po.TbModuleExample" resultType="java.lang.Long">
    select count(*) from TB_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_MODULE
    <set>
      <if test="record.moduleid != null">
        MODULEID = #{record.moduleid,jdbcType=DECIMAL},
      </if>
      <if test="record.projectid != null">
        PROJECTID = #{record.projectid,jdbcType=DECIMAL},
      </if>
      <if test="record.modulename != null">
        MODULENAME = #{record.modulename,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null">
        PRIORITY = #{record.priority,jdbcType=DECIMAL},
      </if>
      <if test="record.createdate != null">
        CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.identifier != null">
        IDENTIFIER = #{record.identifier,jdbcType=VARCHAR},
      </if>
      <if test="record.moduledesc != null">
        MODULEDESC = #{record.moduledesc,jdbcType=VARCHAR},
      </if>
      <if test="record.requiredes != null">
        REQUIREDES = #{record.requiredes,jdbcType=VARCHAR},
      </if>
      <if test="record.requirementid != null">
        REQUIREMENTID = #{record.requirementid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_MODULE
    set MODULEID = #{record.moduleid,jdbcType=DECIMAL},
      PROJECTID = #{record.projectid,jdbcType=DECIMAL},
      MODULENAME = #{record.modulename,jdbcType=VARCHAR},
      PRIORITY = #{record.priority,jdbcType=DECIMAL},
      CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      IDENTIFIER = #{record.identifier,jdbcType=VARCHAR},
      MODULEDESC = #{record.moduledesc,jdbcType=VARCHAR},
      REQUIREDES = #{record.requiredes,jdbcType=VARCHAR},
      REQUIREMENTID = #{record.requirementid,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.po.TbModule">
    update TB_MODULE
    <set>
      <if test="projectid != null">
        PROJECTID = #{projectid,jdbcType=DECIMAL},
      </if>
      <if test="modulename != null">
        MODULENAME = #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="identifier != null">
        IDENTIFIER = #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="moduledesc != null">
        MODULEDESC = #{moduledesc,jdbcType=VARCHAR},
      </if>
      <if test="requiredes != null">
        REQUIREDES = #{requiredes,jdbcType=VARCHAR},
      </if>
      <if test="requirementid != null">
        REQUIREMENTID = #{requirementid,jdbcType=DECIMAL},
      </if>
    </set>
    where MODULEID = #{moduleid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.po.TbModule">
    update TB_MODULE
    set PROJECTID = #{projectid,jdbcType=DECIMAL},
      MODULENAME = #{modulename,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      IDENTIFIER = #{identifier,jdbcType=VARCHAR},
      MODULEDESC = #{moduledesc,jdbcType=VARCHAR},
      REQUIREDES = #{requiredes,jdbcType=VARCHAR},
      REQUIREMENTID = #{requirementid,jdbcType=DECIMAL}
    where MODULEID = #{moduleid,jdbcType=DECIMAL}
  </update>
</mapper>