<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.TbReceivemessageMapper">
  <resultMap id="BaseResultMap" type="com.oracle.po.TbReceivemessage">
    <id column="RECEIVEID" jdbcType="DECIMAL" property="receiveid" />
    <result column="SENDID" jdbcType="DECIMAL" property="sendid" />
    <result column="MESSAGESTATE" jdbcType="VARCHAR" property="messagestate" />
    <result column="EMPID" jdbcType="DECIMAL" property="empid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECEIVEID, SENDID, MESSAGESTATE, EMPID
  </sql>
  <select id="selectByExample" parameterType="com.oracle.po.TbReceivemessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_RECEIVEMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_RECEIVEMESSAGE
    where RECEIVEID = #{receiveid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_RECEIVEMESSAGE
    where RECEIVEID = #{receiveid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.po.TbReceivemessageExample">
    delete from TB_RECEIVEMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.po.TbReceivemessage">
    insert into TB_RECEIVEMESSAGE (RECEIVEID, SENDID, MESSAGESTATE, 
      EMPID)
    values (#{receiveid,jdbcType=DECIMAL}, #{sendid,jdbcType=DECIMAL}, #{messagestate,jdbcType=VARCHAR}, 
      #{empid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.po.TbReceivemessage">
    insert into TB_RECEIVEMESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="receiveid != null">
        RECEIVEID,
      </if>
      <if test="sendid != null">
        SENDID,
      </if>
      <if test="messagestate != null">
        MESSAGESTATE,
      </if>
      <if test="empid != null">
        EMPID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="receiveid != null">
        #{receiveid,jdbcType=DECIMAL},
      </if>
      <if test="sendid != null">
        #{sendid,jdbcType=DECIMAL},
      </if>
      <if test="messagestate != null">
        #{messagestate,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.po.TbReceivemessageExample" resultType="java.lang.Long">
    select count(*) from TB_RECEIVEMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_RECEIVEMESSAGE
    <set>
      <if test="record.receiveid != null">
        RECEIVEID = #{record.receiveid,jdbcType=DECIMAL},
      </if>
      <if test="record.sendid != null">
        SENDID = #{record.sendid,jdbcType=DECIMAL},
      </if>
      <if test="record.messagestate != null">
        MESSAGESTATE = #{record.messagestate,jdbcType=VARCHAR},
      </if>
      <if test="record.empid != null">
        EMPID = #{record.empid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_RECEIVEMESSAGE
    set RECEIVEID = #{record.receiveid,jdbcType=DECIMAL},
      SENDID = #{record.sendid,jdbcType=DECIMAL},
      MESSAGESTATE = #{record.messagestate,jdbcType=VARCHAR},
      EMPID = #{record.empid,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.po.TbReceivemessage">
    update TB_RECEIVEMESSAGE
    <set>
      <if test="sendid != null">
        SENDID = #{sendid,jdbcType=DECIMAL},
      </if>
      <if test="messagestate != null">
        MESSAGESTATE = #{messagestate,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        EMPID = #{empid,jdbcType=DECIMAL},
      </if>
    </set>
    where RECEIVEID = #{receiveid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.po.TbReceivemessage">
    update TB_RECEIVEMESSAGE
    set SENDID = #{sendid,jdbcType=DECIMAL},
      MESSAGESTATE = #{messagestate,jdbcType=VARCHAR},
      EMPID = #{empid,jdbcType=DECIMAL}
    where RECEIVEID = #{receiveid,jdbcType=DECIMAL}
  </update>
</mapper>