<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.ToSendmessageMapper">
  <resultMap id="BaseResultMap" type="com.oracle.po.ToSendmessage">
    <id column="sendID" jdbcType="INTEGER" property="sendid" />
    <result column="EmpID" jdbcType="INTEGER" property="empid" />
    <result column="MessageTitle" jdbcType="VARCHAR" property="messagetitle" />
    <result column="MessageContent" jdbcType="VARCHAR" property="messagecontent" />
    <result column="CreateDate" jdbcType="DATE" property="createdate" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="MessageState" jdbcType="INTEGER" property="messagestate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sendID, EmpID, MessageTitle, MessageContent, CreateDate, priority, MessageState
  </sql>
  <select id="selectByExample" parameterType="com.oracle.po.ToSendmessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from to_sendmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_sendmessage
    where sendID = #{sendid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from to_sendmessage
    where sendID = #{sendid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.po.ToSendmessageExample">
    delete from to_sendmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.po.ToSendmessage">
    insert into to_sendmessage (sendID, EmpID, MessageTitle, 
      MessageContent, CreateDate, priority, 
      MessageState)
    values (#{sendid,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, #{messagetitle,jdbcType=VARCHAR}, 
      #{messagecontent,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE}, #{priority,jdbcType=INTEGER}, 
      #{messagestate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.po.ToSendmessage">
    insert into to_sendmessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendid != null">
        sendID,
      </if>
      <if test="empid != null">
        EmpID,
      </if>
      <if test="messagetitle != null">
        MessageTitle,
      </if>
      <if test="messagecontent != null">
        MessageContent,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="messagestate != null">
        MessageState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendid != null">
        #{sendid,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="messagetitle != null">
        #{messagetitle,jdbcType=VARCHAR},
      </if>
      <if test="messagecontent != null">
        #{messagecontent,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=DATE},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="messagestate != null">
        #{messagestate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.po.ToSendmessageExample" resultType="java.lang.Long">
    select count(*) from to_sendmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update to_sendmessage
    <set>
      <if test="record.sendid != null">
        sendID = #{record.sendid,jdbcType=INTEGER},
      </if>
      <if test="record.empid != null">
        EmpID = #{record.empid,jdbcType=INTEGER},
      </if>
      <if test="record.messagetitle != null">
        MessageTitle = #{record.messagetitle,jdbcType=VARCHAR},
      </if>
      <if test="record.messagecontent != null">
        MessageContent = #{record.messagecontent,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=DATE},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.messagestate != null">
        MessageState = #{record.messagestate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update to_sendmessage
    set sendID = #{record.sendid,jdbcType=INTEGER},
      EmpID = #{record.empid,jdbcType=INTEGER},
      MessageTitle = #{record.messagetitle,jdbcType=VARCHAR},
      MessageContent = #{record.messagecontent,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=DATE},
      priority = #{record.priority,jdbcType=INTEGER},
      MessageState = #{record.messagestate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.po.ToSendmessage">
    update to_sendmessage
    <set>
      <if test="empid != null">
        EmpID = #{empid,jdbcType=INTEGER},
      </if>
      <if test="messagetitle != null">
        MessageTitle = #{messagetitle,jdbcType=VARCHAR},
      </if>
      <if test="messagecontent != null">
        MessageContent = #{messagecontent,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="messagestate != null">
        MessageState = #{messagestate,jdbcType=INTEGER},
      </if>
    </set>
    where sendID = #{sendid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.po.ToSendmessage">
    update to_sendmessage
    set EmpID = #{empid,jdbcType=INTEGER},
      MessageTitle = #{messagetitle,jdbcType=VARCHAR},
      MessageContent = #{messagecontent,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=DATE},
      priority = #{priority,jdbcType=INTEGER},
      MessageState = #{messagestate,jdbcType=INTEGER}
    where sendID = #{sendid,jdbcType=INTEGER}
  </update>
</mapper>